* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
}

.form{
    width: 450px;
    margin: 0 auto;
}

.form-control{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}

.form-control label {
    font-weight: bold;
    margin-bottom: 0.3em;
}

.form-control input {
    padding: 5px;
}

.btn-signup{
    font-weight: bold;
    height: 2em;
    width: 100%;
}

.link-books{ 
    padding-top: 10px;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;
    margin: 0 auto;
}

.books-container{
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.book{
    margin: 5px;
}
